:root {
    --orange: #F16718;
    --light-orange: #FF9B62;
    --dark-blue: #162542;
    --light-blue: #7B8BAD;
    --gray: #E8EFF2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow', sans-serif;
    display: flex;
    justify-content: center;
    padding-bottom: 24px;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 24px 64px;
}

.top .logo {
    width: 40px;
    height: 40px;
    background-image: url('assets/shared/logo.svg');
}

.top button.main-preorder {
    width: 151px;
    height: 48px;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Barlow', sans-serif;
    background-color: var(--gray);
    color: var(--dark-blue);
    cursor: pointer;
    transition: background-color .3s, color .3s;
}

.top button.main-preorder:focus {
    outline: none;
}

.top button.main-preorder:hover {
    background-color: var(--dark-blue);
    color: white;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.general {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
    margin-bottom: 24px;
}

.general .info {
    display: flex;
    flex-wrap: wrap;
    margin: 0 24px 64px;
}

.general .info h1 {
    margin-bottom: 32px;
    font-size: 48px;
    line-height: 48px;
    color: var(--dark-blue);
    text-transform: uppercase;
    font-weight: 900;
}

.general .info p {
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 16px;
    color: var(--light-blue);
}

.general .info button.second-preorder {
    width: 150px;
    height: 48px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Barlow', sans-serif;
    background-color: var(--orange);
    color: white;
    cursor: pointer;
    transition: background-color .3s;
}

.general .info button.second-preorder:focus {
    outline: none;
}

.general .info button.second-preorder:hover {
    background-color: var(--light-orange);
}

.general .info span {
    display: block;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 48px;
    margin-left: 32px;
    color: var(--light-blue);
}

.general .image-keyboard {
    width: 100%;
    height: 331px;
    background-image: url('assets/mobile/image-keyboard.jpg');
    background-size: cover;
    margin-left: 24px;
    border-radius: 20px;
    overflow-x: hidden;
}

.photos-info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 111px;
}

.photos-info .photos {
    display: flex;
    width: 100%;
    margin-bottom: 75px;
}

.photos .image-phone-keyboard {
    width: 129px;
    height: 193px;
    margin-left: -22px;
    background-image: url('assets/mobile/image-phone-and-keyboard.jpg');
    background-size: cover;
    border-radius: 20px;
    background-color: #F16718;
    background-blend-mode: multiply;
}

.photos .image-glass-keyboard {
    width: 220px;
    height: 193px;
    margin-left: 24px;
    background-image: url('assets/mobile/image-glass-and-keyboard.jpg');
    background-size: cover;
    border-radius: 20px;
}

.photos-info .short-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.short-info h2 {
    font-size: 32px;
    color: var(--dark-blue);
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    line-height: 36px;
    margin-right: 62px;
    margin-left: 62px;
    margin-bottom: 24px;
}

.short-info p {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    margin: 0 24px;
    text-align: center;
    color: var(--light-blue);
}

.advantages {
    display: flex;
    flex-wrap: wrap;
}

.element {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 24px;
    margin-left: 24px;
    margin-bottom: 64px;
}

.element:last-of-type {
    margin-bottom: 96px;
}

.advantages .icon {
    width: 65px;
    height: 65px;
    border-radius: 16px;
    background-color: var(--orange);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 48px;
}

.advantages .compatible .icon {
    background-image: url('assets/shared/icon-compatible.svg');
}

.advantages .bluetooth .icon {
    background-image: url('assets/shared/icon-bluetooth.svg');
}

.advantages .battery .icon {
    background-image: url('assets/shared/icon-battery.svg');
}

.advantages .light .icon {
    background-image: url('assets/shared/icon-light.svg');
}

.element h3 {
    font-size: 24px;
    font-weight: 900;
    line-height: 28px;
    color: var(--dark-blue);
    text-transform: uppercase;
    width: 55%;
    text-align: center;
    margin-bottom: 36px;
}

.element p {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: var(--light-blue);
    text-align: center;
}

.footer {
    width: 100%;
    text-align: center;
}

.footer div {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    color: var(--light-blue);
}

.footer div span {
    font-weight: 700;
}


@media (min-width: 630px) {
    .top {
        margin: 39px 39px 62px;
    }

    .top button.main-preorder {
        width: 175px;
        height: 58px;
    }

    .general {
        flex-direction: row;
        height: 425px;
        align-items: center;
        margin-bottom: 40px;
    }

    .general .info {
        margin: 0 69px 0 39px;
        max-width: 339px;
    }

    .general .info button.second-preorder {
        width: 175px;
        height: 58px;
    }

    .general .info span {
        line-height: 58px;
    }

    .general .image-keyboard {
        margin-left: 0;
        height: 100%;
        background-image: url('assets/tablet/image-keyboard.jpg');
        border-radius: 20px 0 0 20px;
    }

    .photos-info {
        margin-bottom: 142px;
    }

    .photos-info .photos {
        margin-bottom: 72px;
        margin-left: 39px;
        margin-right: 39px;
    }

    .photos .image-phone-keyboard {
        width: 214px;
        height: 320px;
        background-image: url('assets/tablet/image-phone-and-keyboard.jpg');
        margin-left: 0;
    }

    .photos .image-glass-keyboard {
        width: 445px;
        height: 320px;
        margin-left: 30px;
        background-image: url('assets/tablet/image-glass-and-keyboard.jpg');
    }

    .photos-info .short-info {
        flex-direction: row;
        align-items: center;
        margin-right: 39px;
        margin-left: 39px;
    }

    .short-info h2 {
        text-align: left;
        margin: 0 32px 0 0;
    }

    .short-info p {
        margin: 0;
        text-align: left;
    }

    .advantages {
        margin-bottom: 70px;
    }

    .element {
        flex-basis: 40%;
        align-items: flex-start;
        margin-right: 0;
        margin-left: 39px;
        margin-bottom: 72px;
    }

    .element:last-of-type {
        margin-bottom: 72px;
    }

    .element h3 {
        text-align: left;
    }

    .element p {
        text-align: left;
    }
}

@media (min-width: 1024px) {
    body {
        overflow-x: hidden;
    }

    .wrapper {
        max-width: 1100px;
    }

    .top {
        margin: 24px 0 83px;
    }

    .general {
        height: 480px;
        margin-bottom: 30px;
        justify-content: space-between;
        overflow-x: visible;
    }

    .general .info {
        max-width: 445px;
        margin-left: 0;
    }

    .general .info h1 {
        font-size: 56px;
        line-height: 56px;
    }

    .general .info p {
        font-size: 18px;
        line-height: 26px;
    }

    .general .image-keyboard {
        border-radius: 20px;
        width: 540px;
        position: relative;
        overflow-x: visible;
    }

    .general .image-keyboard::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: calc(100% + 30px);
        width: 255px;
        height: 240px;
        background-color: var(--gray);
        border-radius: 20px;
    }


    .photos-info {
        margin-bottom: 168px;
    }

    .photos-info .photos {
        width: 66%;
        margin-left: 0;
        margin-bottom: 0;
        margin-right: 0;
    }

    .photos-info .short-info {
        padding-left: 125px;
        margin-left: 0;
        width: 34%;
        margin-right: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .photos-info .short-info h2 {
        margin-right: 0;
        margin-bottom: 27px;
    }

    .photos .image-phone-keyboard {
        width: 255px;
        height: 480px;
        background-image: url('assets/desktop/image-phone-and-keyboard.jpg');
        position: relative;
    }

    .photos .image-phone-keyboard::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: calc(-100% - 30px);
        width: 255px;
        height: 240px;
        background-color: var(--gray);
        border-radius: 20px;
    }

    .photos .image-glass-keyboard {
        width: 445px;
        height: 480px;
        background-image: url('assets/desktop/image-glass-and-keyboard.jpg');
    }

    .advantages {
        margin-bottom: 128px;
        justify-content: space-between;
    }

    .element {
        flex-basis: 22.5%;
        align-items: flex-start;
        margin-left: 0;
        margin-bottom: 0;
    }

    .element:last-of-type {
        margin-bottom: 0;
    }

    .element h3 {
        width: 80%;
        margin-bottom: 24px;
    }
}